body {
  background: #fff;
  font-size: 13px;
  color: #7F7F7F;
}

body, p, ul, li {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

div {
  /* width: 100%; */
}

p {
  line-height: 160%;
  margin-top: 1rem;
}

a, a:hover, a:active {
  text-decoration: none;
}

h1 {
  line-height: 130%;
  margin-bottom: 0;
}

.svgIcon-use {
  fill: #797979;
}

.svgIcon-use:hover {
  fill: #464646;
}

.story-panel {
  border-top: 1px solid #D9D9D9;
}

/* ------ header styles --------- */
.header {
  height: 95px;
}

.metabar {
  height: 56px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo-medium {
  display: none;
}

.logo-m {
  display: block;
}

.account-meta {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}
.account-meta .bookmark {
  display: none;
}
.account-meta .search, .account-meta .notify {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 40px;
}

.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  position: relative;
}
.profile-photo img {
  width: 40px;
  height: 40px;
  border: 1px solid #51C3A7;
  border-radius: 50%;
  padding: 2px;
}
.profile-photo .photo-trim {
  width: 44px;
  height: 40px;
  border-right: 4px solid #fff;
  border-left: 4px solid #fff;
  position: absolute;
  top: 0;
  left: -2px;
  z-index: 100;
}

/* ------ nav styles --------- */
.nav {
  height: 39px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}
.nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  /* align-content: space-between; */
}
.nav li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  font-size: 0.95em;
  padding: 0 10px;
}
.nav li a {
  color: #808080;
}
.nav li a:hover {
  color: #343434;
}
.nav li a.selected {
  color: #010101;
}

/* --------- utility link styles -------- */
.side-panel .utilities {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  border-top: 1px solid #D9D9D9;
  padding-top: 0.5rem;
  margin-top: 4rem;
}
.side-panel .utilities ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  /* align-content: space-between; */
}
.side-panel .utilities li {
  display: inline-block;
  list-style: none;
  padding: 0 10px;
  line-height: 180%;
}
.side-panel .utilities li a {
  color: #808080;
}
.side-panel .utilities li a:hover {
  color: #343434;
}
.side-panel .utilities li a.selected {
  color: #010101;
}

/* ------ story styles --------- */
.feature-prime1 h1, .feature-prime2 h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2.15rem;
  color: #292929;
}

.feature-prime2 {
  display: none;
}

.feature-story, .story {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.feature-story img, .story img {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  margin-right: 0;
}
.feature-story h2, .story h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #292929;
  margin-top: 0;
}
.feature-story .bookmark, .feature-story .more, .story .bookmark, .story .more {
  display: inline;
  float: right;
}

.popular-story {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.popular-story h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.65rem;
  color: #292929;
  margin-top: 0;
}
.popular-story .author {
  margin-top: 1rem;
}

.pop-story-number {
  font-size: 2.65rem;
  color: #d8d8d8;
  margin-right: 1rem;
  position: relative;
  top: -0.25em;
}

/* --- general styles ----- */
.author {
  color: black;
  margin-top: 1.5rem;
}

.updated {
  margin-top: 0;
}
.updated .svgIcon-use {
  position: relative;
  top: 3px;
}

.see-more p {
  color: #51C3A7;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.story-list, .side-panel {
  margin-top: 2rem;
}

.see-more {
  width: 100%;
  text-align: left;
}

.category {
  color: #7F7F7F;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

@media screen and (min-width: 769px) {
  .logo-medium {
    display: block;
  }

  .logo-m {
    display: none;
  }

  .account-meta .bookmark {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 40px;
  }

  .story h2, h2.callout {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #292929;
    margin-top: 0;
  }
}
@media screen and (min-width: 680px) {
  .feature-panel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .feature-prime1, .feature-story-panel, .story-list, .side-panel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }

  .feature-story-panel {
    margin-right: 20px;
    margin-left: 20px;
  }

  .feature-story img {
    order: -100;
    margin-right: 20px;
    margin-left: 0;
  }
  .feature-story .bookmark {
    display: none;
  }
}
@media screen and (min-width: 860px) {
  .feature-panel, .story-panel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .feature-prime1, .feature-story-panel, .story-list, .side-panel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }

  .side-panel {
    width: 540px;
    margin-left: 5rem;
  }
}
@media screen and (min-width: 1032px) {
  .container-fluid {
    width: 1025px;
    margin: 0 auto 0 auto;
  }

  .feature-panel, .story-panel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .feature-prime1, .feature-prime2, .feature-story-panel, .story-list, .side-panel {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }

  .see-more {
    border-bottom: 1px solid #D9D9D9;
    width: 100%;
    text-align: right;
  }

  .blurb .blurb-top {
    background-color: #D3EFEE;
  }
  .blurb .blurb-bg {
    background-color: #FAFAFA;
  }
}

/*# sourceMappingURL=styles.css.map */
