// VARIABLES
$body-bgcolor: #fff;
$base-font: 'Lato', sans-serif;
$default-text-color: #7F7F7F;
$nav-text-color: #808080;
$nav-text-selected: darken($nav-text-color, 50%);
$nav-text-hover: darken($nav-text-color, 30%);
$head-color: #292929;
$author-color: darken($default-text-color, 50%);
$accent-color: #51C3A7;
$border: 1px solid #D9D9D9;
$popular-identifier-color: #E4E4E4;
$icon-color: #797979;
$icon-color-hover: darken($icon-color, 20%);
$blurb-color: #D3EFEE;
$blurb-bg-color: #FAFAFA;




// MIXINS

// mixin border used for planning initial layout and  trouble-shooting
@mixin border($border-color) {
  border: 1px solid $border-color;
}

@mixin title($size) {
  font: {
    family: $base-font;
    weight: 700;
    size: $size;
  }
  color: $head-color;
}

@mixin feature-story-layout {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}




// STYLES
body {
  background: $body-bgcolor;
  font-size: 13px;
  color: $default-text-color;
}

body, p, ul, li {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

div {
  /* width: 100%; */
}

p {
  line-height: 160%;
  margin-top: 1rem;
}

a, a:hover, a:active {
  text-decoration: none;
}

h1 {
  line-height: 130%;
  margin-bottom: 0;
}

.svgIcon-use {
  fill: $icon-color;
}
.svgIcon-use:hover {
  fill: $icon-color-hover;
}

.story-panel {
  border-top: $border;
}

/* ------ header styles --------- */
.header {
  height: 95px;
}

.metabar {
  height: 56px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo-medium {
  display: none;
}
.logo-m {
  display: block;
}

.account-meta {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  .bookmark {
    display: none;
  }
  .search, .notify  {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 40px;
  }
}
.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  position: relative;
  img {
    width: 40px;
    height: 40px;
    border: 1px solid $accent-color;
    border-radius: 50%;
    padding: 2px;
  }
  .photo-trim {
    width: 44px;
    height: 40px;
    border-right: 4px solid #fff;
    border-left: 4px solid #fff;
    position: absolute;
    top: 0;
    left: -2px;
    z-index: 100;
  }
}

/* ------ nav styles --------- */

.nav {
  height: 39px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    /* align-content: space-between; */
  }
  li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    font-size: .95em;
    padding: 0 10px;
    a {
      color: $nav-text-color;
    }
    a:hover {
      color: $nav-text-hover;
    }
    a.selected {
      color: $nav-text-selected;
    }
  }
}

/* --------- utility link styles -------- */
.side-panel
  .utilities {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  border-top: $border;
  padding-top: .5rem;
  margin-top: 4rem;
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    /* align-content: space-between; */
  }
  li {
    display: inline-block;
    list-style: none;
    padding: 0 10px;
    line-height: 180%;
    a {
      color: $nav-text-color;
    }
    a:hover {
      color: $nav-text-hover;
    }
    a.selected {
      color: $nav-text-selected;
    }
  }
}


/* ------ story styles --------- */
.feature-prime1, .feature-prime2, {
  h1 {
    @include title(2.15rem);
  }
}

.feature-prime2 {
  display: none;
}

.feature-story, .story{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 2rem;
  img {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    margin-right: 0;
  }
  h2 {
    @include title(1.5rem);
    margin-top: 0;
  }
  .bookmark, .more {
    display: inline;
    float: right;
  }
}

.popular-story {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2rem;
  h2 {
    @include title(1.65rem);
    margin-top: 0;
  }
  .author {
    margin-top: 1rem;
  }
}

.pop-story-number {
  font-size: 2.65rem;
  color: lighten($default-text-color, 35%);
  margin-right: 1rem;
  position: relative;
  top: -0.25em;
}

/* --- general styles ----- */

.author {
  color: $author-color;
  margin-top: 1.5rem;
}
.updated {
  margin-top: 0;
  .svgIcon-use {
    position: relative;
    top: 3px;
  }
}

.see-more {
  p {
    color: $accent-color;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
}
.story-list, .side-panel {
  margin-top: 2rem;
}
.collections {

}

.see-more {
  width: 100%;
  text-align: left;
}

.category {
  color: $default-text-color;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}


// MEDIA QUERIES


@media screen and (min-width: 769px) {
  .logo-medium {
    display: block;
  }
  .logo-m {
    display: none;
  }
  .account-meta {
    .bookmark {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 40px;
    }
  }
  .story h2, h2.callout {
      @include title(2rem);
      margin-top: 0;
  }
}

@media screen and (min-width: 680px) {
  .feature-panel{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .feature-prime1, .feature-story-panel, .story-list, .side-panel {
    @include feature-story-layout;
  }
  .feature-story-panel {
    margin-right: 20px;
    margin-left: 20px;
  }
  .feature-story {
    img {
      order: -100;
      margin-right: 20px;
      margin-left: 0;
    }
    .bookmark {
      display: none;
    }
  }
}

@media screen and (min-width: 860px) {
  .feature-panel, .story-panel{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .feature-prime1, .feature-story-panel, .story-list, .side-panel {
    @include feature-story-layout;
  }
  .side-panel {
    width: 540px;
    margin-left: 5rem;
  }
}

@media screen and (min-width: 1032px) {
 .container-fluid {
   width: 1025px;
   margin: 0 auto 0 auto;
 }
   .feature-panel, .story-panel{
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     align-items: flex-start;
   }
   .feature-prime1, .feature-prime2, .feature-story-panel, .story-list, .side-panel {
     @include feature-story-layout;
   }

   .see-more {
     border-bottom: $border;
     width: 100%;
     text-align: right;
   }

   .blurb {
     .blurb-top {
       background-color: $blurb-color;

     }
     .blurb-bg {
       background-color: $blurb-bg-color;
     }
   }


 }
